<div>
    <div class="container wow-container col-md-2 col-xs-0"></div>
    <div class="container wow-container col-md-8 col-xs-12">
        <div class="wow-page">
            <div class="wow-page__base-info">
                <div class="pull-right">
                    <a class="wow-page__instructions--video" href="#"><span class="glyphicon glyphicon-play-circle"></span> Видео-инструкция</a>
                </div>
                <h2 class="wow-page__header">Новое задание</h2>
                <div class="form-group">
                    <label for="description">Название <span class="wow-page__brackets">(необязательно)</span></label>
                    <input id="description" name="description" class="form-control" type="text" placeholder="Кратко опишите суть задания. Например, «Починить компьютеры в офисе»">
                    <label class="wow-page__catalog-address" for="catalog_address">Адрес выполнения работ</label>
                    <div id='catalog_address' class="wow-page__catalog-address--links">
                        <a href="#" class="btn-link">Новый адрес</a>
                        <a href="#" class="btn-link">Адресная книга</a>
                    </div>
                </div>
                <!-- Юридеческое лицо -->
                <div class="form-group">
                    <label for="legal">Юридическое лицо</label>
                    <select name="legal-en" class="form-control legal-entity">
                        <option value="1">wowworks - Москва</option>
                        <option value="2">develop.wowworks - Самара, ритейл компания, по восточному округу</option>
                        <option value="3">Самара, ритейл компания, по восточному округу - Департамент по информационным технологиям</option>
                        <option value="4">ИП Комаров - 1</option>
                        <option value="5">ООО "Воздухоплаватели" - Департамент по информационным технологиям</option>
                    </select>
                </div>
            </div>
            <div class="wow-page__service-list">
                <h3 class="">Список услуг</h3>
                <p ng-hide="blockList.areWeHaveAddedService">Вы не добавили ни одной услуги</p>
                <div class="wow-service-list">
                    <div class="wow-service-list__block" ng-class="getBlockClassFromSelection(blockKey)" ng-repeat="(blockKey, block) in blockList" ng-click="setSelectedBlock(blockKey)">
                        <div class="wow-service-list__block--header">
                            <input type="text" class="wow-service-list__block--name" ng-model="block._name">
                            <span class="wow-service-list__block--delete-icon glyphicon glyphicon-trash" ng-click="removeBlock(blockKey)"></span>
                        </div>
                        <div class="wow-service-list__block--drop-zone" dnd-list="block._services" dnd-drop="serviceDropped(item, index, blockKey)">
                            <div class="wow-service-list__service" ng-repeat="(serviceKey, service) in block._services" ng-class="{'wow-service-list__service--selected': block.selected == $index}" dnd-draggable="service" dnd-moved="serviceMoved(blockKey, serviceKey)" dnd-effect-allowed="move" dnd-selected="block.selected = $index">
                                <div class="wow-service-list__service--field wow-service-list__service--name">{{service.getName()}}<span class="glyphicon glyphicon-info-sign description-sign" ng-click="getModalDescription(service.getDescription())"></span></div>
                                <input type="number" min="1" max="999" class="wow-service-list__service--count" value="1" ng-focus="service._previousCount=service._count" ng-blur="changeServiceCount(service, blockKey)" ng-model="service._count">
                                <div class="wow-service-list__service--field wow-service-list__service--cost">{{service.getCost()}} <span class="glyphicon glyphicon-rub"></span></div>
                                <div class="wow-service-list__service--field wow-service-list__service--duration">{{service.getDuration()}} часа(ов)</div>
                                <span class="wow-service-list__service--field wow-service-list__service--comment-icon glyphicon glyphicon-comment"></span>
                                <span class="wow-service-list__service--field wow-service-list__service--delete-icon glyphicon glyphicon-trash" ng-click="removeService(blockKey, serviceKey)"></span>
                            </div>
                        </div>
                        <div class="wow-service-list__block--summary" ng-show="block.getCountServices()">
                            <div class="wow-service-list__service--field wow-service-list__service--summary-name">Итого</div>
                            <div class="wow-service-list__service--field wow-service-list__service--count">&nbsp;</div>
                            <div class="wow-service-list__service--field wow-service-list__service--summary-cost">{{block.getSummaryCost(nightIncrease, nightIncreaseChecked)}} <span class="glyphicon glyphicon-rub"></span></div>
                            <div class="wow-service-list__service--field wow-service-list__service--summary-duration">{{block.getSummaryDuration(urgentIncrease, urgentIncreaseChecked)}} часов</div>
                            <span class="wow-service-list__service--field wow-service-list__service--comment-icon"></span>
                            <span class="wow-service-list__service--field wow-service-list__service--delete-icon"></span>
                        </div>
                    </div>
                </div>
                <div class="wow-service-list__manage-buttons">
                    <button class="btn wow-button__orange" ng-click="addServiceToSelectedBlock()">Добавить услугу</button>
                    <button class="btn wow-button__orange" ng-click="addBlock()">Добавить блок</button>
                    <button class="btn wow-button__orange" ng-click="clearBlockList()">Очистить список</button>
                </div>
                <div class="wow-service-list__additional-info">
                    <div class="wow-service-list__additional-info--header">Дополнительные возможности</div>
                    <div class="wow-service-list__additional-info--row" ng-click="addNightIncrease()">
                        <input class="checkbox" type="checkbox" id='nightIncrease' ng-click="addNightIncrease()" ng-model="nightIncreaseChecked" ng-checked="nightIncreaseChecked">
                        <!-- <div class="checkbox">
                        </div> -->
                        <div class="description">
                            <div class="name">Ночные работы</div>
                            <div class="short-description">Работы с 23:00 до 07:00 по местному времени</div>
                        </div>
                        <div class="increase">+{{nightIncrease}}%</div>
                    </div>
                    <div class="wow-service-list__additional-info--row" ng-click="addUrgentIncrease()">
                        <input class="checkbox" type="checkbox" id='urgentIncrease' ng-model="urgentIncreaseChecked" ng-click="addUrgentIncrease()" ng-checked="urgentIncreaseChecked">
                        <!-- <div class="checkbox">
                        </div> -->
                        <div class="description">
                            <div class="name">Срочные работы</div>
                            <!-- <div class="short-description"></div>   -->
                        </div>
                        <div class="increase">{{urgentIncrease}}%</div>
                    </div>
                    <div class="wow-service-list__additional-info--results">
                        <div class="cost">Итого к оплате: <span class="summary__cost">{{getSummaryCost()}} <span class="glyphicon glyphicon-rub"></span></span>
                        </div>
                        <div class="duration">Срок выполнения: <span class="summary__duration" ng-bind="getSummaryDuration()"></span></div>
                        <div class="VAT">
                            </span> Цены указаны без НДС</div>
                    </div>
                    <!-- <div class="wow-service-list__additional-info--additional-payment" >На сервисе wowworks есть минимальная стоимость вызова специалиста. Если запрошенная услуга меньше минимальной стоимости, то добавляется доплата за выезд. Доплата за выезд исчезает, когда набор требуемых услуг в заявке больше минимальной стоимости вызова.</div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container wow-container col-md-2 col-xs-0"></div>
</div>
