<div class="wow-modal">
    <!-- <div class="modal-body"> -->
        <div class="wow-service__selector">
            <h2 class="wow-service__selector--header">Выберите услугу</h2>
            <label for="sections">Раздел</label>
            <div id="sections" class="wow-service__selector--sections">
                <div ng-click="markAsSelected('it')" class="section" >
                	<span class="section__picture-field" ng-class="{'section__selected':sections.selected == 'it'}" title="Информационные технологии">
                		<span class="section__it section__picture-field--picture" ng-class="{'section__it--selected':sections.selected == 'it', 'section__it--unselected':sections.selected != 'it'}"></span>
                	</span>
                    <div class="section__name">Информационные технологии</div>
                </div>
                <div ng-click="markAsSelected('mp')" class="section">
                	<span class="section__picture-field"  ng-class="{'section__selected':sections.selected == 'mp'}" title="Эксплуатация помещений">
                		<span class="section__mp section__picture-field--picture" ng-class="{'section__mp--selected':sections.selected == 'mp', 'section__mp--unselected':sections.selected != 'mp'}"></span>
                	</span>
                    <div class="section__name">Эксплуатация помещений</div>
                </div>
                <div ng-click="markAsSelected('sc')" class="section">
                	<span class="section__picture-field" ng-class="{'section__selected':sections.selected == 'sc'}" title="Коммерческий сервис">
                		<span class="section__sc section__picture-field--picture" ng-class="{'section__sc--selected':sections.selected == 'sc', 'section__sc--unselected':sections.selected != 'sc'}"></span>
                	</span>
                    <div class="section__name">Коммерческий сервис</div>
                </div>
                <div ng-click="markAsSelected('ds')" class="section">
                	<span class="section__picture-field"  ng-class="{'section__selected':sections.selected == 'ds'}" title="Курьерские услуги">
                		<span class="section__ds section__picture-field--picture"  ng-class="{'section__ds--selected':sections.selected == 'ds', 'section__ds--unselected':sections.selected != 'ds'}"></span>
                	</span>
                    <div class="section__name">Курьерские услуги</div>
                </div>
                <div ng-click="markAsSelected('acandre')" class="section">
                	<span class="section__picture-field"  ng-class="{'section__selected':sections.selected == 'acandre'}" title="Кондиционеры и холодильное оборудование">
                		<span class="section__acandrev section__picture-field--picture" ng-class="{'section__acandre--selected':sections.selected == 'acandre', 'section__acandre--unselected':sections.selected != 'acandre'}"></span>
                	</span>
                    <div class="section__name">Кондиционеры и холодильное оборудование</div>
                </div>
            </div>
            <div class="form-group wow-service__category" ng-show="sections.selected == 'mp'">
                <label for="subcategory">Категория</label>
                <select ng-model="sections.category" ng-options="key as category.name for (key, category) in sections.services" id="subcategory" class="form-control">
                </select>
            </div>
        </div>
        <div class="wow-service__services-list">
            <h3>Список услуг</h3>
            <table class="wow-service__services-list--table table table-condensed table-addwork" ng-hide="">
                <thead>
                    <tr class="table__header--row">
                        <th class="table__header--col-name">Услуга</th>
                        <th class="table__header--col-cost">Цена, руб.</th>
                        <th class="table__header--col-dur">Время выполнения, ч.</th>
                        <th class="table__header--col-butt">&nbsp;</th>
                    </tr>
                </thead>
                <tbody ng-show="sections.selected == 'mp'">
                    <tr ng-repeat="(key, service) in sections.services[getCategoryNumber(sections.category)].services"  class="table__header--row">
                        <td>
                            <span class="wow-service__services-list--name" ng-bind="service.name"></span>
                            <span class="wow-service__services-list--description" ng-bind="service.description"></span>
                        </td>
                        <td class="table__header--col-cost" ng-bind="service.cost"></td>
                        <td class="table__header--col-dur" ng-bind="service.duration"></td>
                        <td class="table__header--col-butt">
                            <button class="btn wow-button__orange" ng-click="selectService(service)">Добавить в задание</button>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-hide="sections.selected == 'mp'">
                    <tr ng-repeat="(key, service) in sections.services"  class="table__header--row">
                        <td>
                            <span class="wow-service__services-list--name" ng-bind="service.name"></span>
                            <span class="wow-service__services-list--description" ng-bind="service.description"></span>
                        </td>
                        <td class="table__header--col-cost" ng-bind="service.cost"></td>
                        <td class="table__header--col-dur" ng-bind="service.duration"></td>
                        <td class="table__header--col-butt">
                            <button class="btn wow-button__orange" ng-click="selectService(service)">Добавить в задание</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    <!-- </div> -->
    <div class="modal-footer">
        <button class="btn  wow-button__orange" ng-click="close()">Закрыть окно</button>
    </div>
</div>
