.wow-container {
    .wow-page {
        background-color: $white;
        border-color: $wow-page-border;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        &__brackets {
            color: $service-list-table-header;
        }
        &__service-list {
            background-color: $service-list-bcg;
        }
        &__header {}
    }
    .wow-service-list {
        &__block {
            display: block;
            &--selected {
                background-color: darken($service-list-bcg, 5%);
                border-color: rgba(150, 148, 148, 1);
            }
            &--selected .wow-service-list__service {
                border-color: $white !important;
            }
            &--selected .wow-service-list__block--summary {
                border-color: $white !important;
            }
            &--unselected {
                background-color: transparent;
            }
            &--header:hover .wow-service-list__block--name {
                background-color: $white;
            }
            &--summary {
                border-color: $service-list-border;
            }
        }
        &__service {
            border-color: $service-list-border;
        }
        &__service:hover {
            background-color: $service-list-row-hover;
        }
        &__additional-info {
            &--header {}
            &--row {
                border-color: $service-list-border !important;
                .description {
                    .name {}
                    .short-description {
                        color: $service-list-table-header;
                    }
                }
            }
            &--row:hover {
                background-color: $service-list-row-hover;
            }
            &--results {
                .cost {}
                .duration {}
                .VAT {
                    background: url('../images/common/warning-18.png') no-repeat left center;
                    color: $navbar_topitem_bcg;
                    .glyphicon {
                        color: $warning;
                    }
                }
            }
        }
    }
}
