body {
    color: #333;
    background-color: #EFEFEF;
}

.content {
    background-color: $content_bcg;	
}

.wow-button {
    &__orange {
        color: $white;
        background-color: $button_orange_bcg;
        border-color: $button_orange_border;
    }
    &__orange:hover {
    	color: $white;
    }
    
    // &__orange:active {}
}
