.wow-modal {
    .wow-service {
        &__selector {
            &--sections {
                .section {
                    &__selected:after {
                        background: $icon-selected-orange url('../images/common/icon-16-tick-white.png') no-repeat center;
                        border-color: $white;
                    }
                    &__selected {
                        background: $white !important;
                        box-shadow: inset 0px 0px 50px 10px rgba(230, 230, 230, 1) !important;
                        border-color: $section-border-selected !important;
                    }
                    &__picture-field {
                        background: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f8f8f8));
                        background: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
                        background: -o-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
                        background: -ms-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
                        background: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
                        // filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8', GradientType=0);
                        border-color: $section-border-selected !important;
                        box-shadow: 4px 4px 5px 0px rgba(150, 150, 150, 0.1), inset 0px -2px 5px 0px rgba(255, 255, 255, 1);
                    }
                    &__it {
                        &--selected {
                            background-image: url('../images/service-icons/icon-comp-orange.png');
                        }
                        &--unselected {
                            background-image: url('../images/service-icons/icon-comp.png');
                        }
                    }
                    &__mp {
                        &--selected {
                            background-image: url('../images/service-icons/cat-aho-orange.png');
                        }
                        &--unselected {
                            background-image: url('../images/service-icons/cat-aho.png');
                        }
                    }
                    &__sc {
                        &--selected {
                            background-image: url('../images/service-icons/cat-store-orange.png');
                        }
                        &--unselected {
                            background-image: url('../images/service-icons/cat-store.png');
                        }
                    }
                    &__ds {
                        &--selected {
                            background-image: url('../images/service-icons/icon-delivery-orange.png');
                        }
                        &--unselected {
                            background-image: url('../images/service-icons/icon-delivery.png');
                        }
                    }
                    &__acandre {
                        &--selected {
                            background-image: url('../images/service-icons/icon-aircool-orange.png');
                        }
                        &--unselected {
                            background-image: url('../images/service-icons/icon-aircool.png');
                        }
                    }
                    .cat-it {}
                }
                .section:hover>.section__name {
                    color: $orange !important;
                }
                .section:hover .section__picture-field {
                    background: #fff;
                    border: 2px solid #ddd;
                }
            }
        }
        &__descriptor {}
        &__additional-info {}
        &__services-list {
            background-color: $service-list-modal-bcg;
            &--name {
                color: $black;
            }
            &--description {
                color: $service-list-description;
            }
            &--table {
                color: $service-list-table-header;
            }
            &--table {
                .table {
                    &__header {
                        &--row {
                            color: $service-list-table-header;
                        }
                        &--row:hover {
                            background-color: $service-list-row-hover;
                        }
                        &--col-name {
                            color: $black;
                        }
                        &--col-cost {
                            color: $black;
                        }
                        &--col-dur {
                            color: $black;
                        }
                        &--col-butt {
                            color: $black;
                        }
                    }
                }
                // tr:nth-child:hover {
                //     background-color: $service-list-row-hover;
                // }
            }
        }
        &__section {
            &--name {}
            &__category {}
        }
    }
}
