.wow-navbar {
    color: $white;
    font-weight: bold;
    &__collapse {
        &--topitem {
            background: $navbar_topitem_bcg;
        }
    }
    &__right {
        border-right-color: $navbar__border__right;
        border-left: $navbar__border__left;
    }
    &__name {
        &--orgname {
            color: $navbar_orgname;
        }
    }
    &__bell:hover {
        background-color: $navbar_linkhover !important;
    }
    &__mail:hover {
        background-color: $navbar_linkhover !important;
    }
    &__header {
        &--name {
            color: $white;
            border-color: $navbar_orgname;
        }
        &--top-menu {
            color: $white !important;
        }
        &--top-menu:hover {
            background-color: $navbar_linkhover !important;
        }
    }
}
