@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}
@mixin translate($x-coord, $y-coord) {
  -ms-transform: translate($x-coord, $y-coord);
  -webkit-transform: translate($x-coord, $y-coord);
  transform: translate($x-coord, $y-coord);
}

$orange: #ff6600;

// navbar
$navbar__border: $black;
$navbar__border__right: #444444;
$navbar__border__left: #222222;

$navbar_topitem_bcg: #333333;
$navbar_orgname: $orange;
$navbar_linkhover: #2c2c2c;

$content_bcg: #efefef;

$button_orange_border: #d9572b;
$button_orange_bcg: #ff6633;
$icon-selected-orange: $navbar_orgname;

$warning: #FFC806;

$wow-page-border: #CCCCCC;
$service-list-border: #DDDDDD;

$service-list-name: $black;
$service-list-row-hover: #F0F0F0;
$service-list-description: #666666;
$service-list-table-header: #999;
$service-list-bcg: #f5f5f5;
$service-list-modal-bcg: #FBFBFB;
$section-border-selected: #DDDDDD;


// 