/* line 1, scss/_global.scss */
body {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}

/* line 6, scss/_global.scss */
.content {
  margin: 0 auto;
}

/* line 10, scss/_global.scss */
.wow-button {
  padding: 6px 25px;
}
/* line 12, scss/_global.scss */
.wow-button__orange {
  font-weight: bold;
  border: 1px solid;
  border-bottom: 4px solid;
}
/* line 18, scss/_global.scss */
.wow-button__orange:active {
  box-shadow: none;
  position: relative;
  top: 2px;
}

/* line 2, scss/_modal.scss */
.wow-modal__change-section {
  width: 350px;
  margin-left: 2920px;
}
/* line 5, scss/_modal.scss */
.wow-modal__change-section--middle {
  margin: 0 auto;
}
/* line 9, scss/_modal.scss */
.wow-modal__service-selection {
  margin-left: -1920px;
}
/* line 11, scss/_modal.scss */
.wow-modal__service-selection--middle {
  margin: 0 auto;
}
/* line 17, scss/_modal.scss */
.wow-modal .wow-service__selector--sections {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-flow: row nowrap;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
/* line 27, scss/_modal.scss */
.wow-modal .wow-service__selector--sections .section {
  min-height: 194px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100px;
}
/* line 37, scss/_modal.scss */
.wow-modal .wow-service__selector--sections .section .cat-it {
  word-wrap: break-word;
}
/* line 47, scss/_modal.scss */
.wow-modal .wow-service__section__services-list {
  text-align: left;
}
/* line 50, scss/_modal.scss */
.wow-modal .wow-service__section__services-list--description {
  color: #666;
  font-size: 14px;
}

/* line 1, scss/_createTaskContainer.scss */
.wow-container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}
/* line 5, scss/_createTaskContainer.scss */
.wow-container .wow-page {
  border: 1px solid;
  box-shadow: 0px 0px 5px;
}
/* line 8, scss/_createTaskContainer.scss */
.wow-container .wow-page__header {
  margin-bottom: 20px;
}
/* line 12, scss/_createTaskContainer.scss */
.wow-container .wow-page__instructions--video {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}
/* line 18, scss/_createTaskContainer.scss */
.wow-container .wow-page__base-info {
  padding: 0 40px;
}
/* line 21, scss/_createTaskContainer.scss */
.wow-container .wow-page .legal-entity {
  border-radius: 0;
  height: 40px;
}
/* line 27, scss/_createTaskContainer.scss */
.wow-container .wow-service-list__service {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-flow: column nowrap;
  -webkit-flex-flow: column wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
/* line 48, scss/_createTaskContainer.scss */
.wow-container .wow-service-list__manage-buttons {
  display: inline-block;
}
/* line 51, scss/_createTaskContainer.scss */
.wow-container .wow-service-list__additional-info {
  display: block;
  width: 100%;
}
/* line 56, scss/_createTaskContainer.scss */
.wow-container .wow-service-list__additional-info--results {
  margin-right: 0px;
  float: right;
  font-size: 18px;
  padding-bottom: 30px;
  text-align: right;
}
/* line 64, scss/_createTaskContainer.scss */
.wow-container .wow-service-list__additional-info--results .VAT {
  margin-top: 10px;
}
/* line 68, scss/_createTaskContainer.scss */
.wow-container .wow-service-list__additional-info--additional-payment {
  text-align: center;
}

/* line 1, scss/_navbar.scss */
.wow-navbar {
  max-width: 1200px;
}
/* line 6, scss/_navbar.scss */
.wow-navbar__right {
  border-right: 1px solid;
  border-left: 1px solid;
  margin-right: 0;
}
/* line 18, scss/_navbar.scss */
.wow-navbar__name {
  overflow: hidden;
}
/* line 20, scss/_navbar.scss */
.wow-navbar__name--minimized {
  white-space: nowrap;
}
/* line 23, scss/_navbar.scss */
.wow-navbar__name--orgname {
  height: 22px;
}
/* line 30, scss/_navbar.scss */
.wow-navbar__header {
  border: 2px #ff6600 solid;
  border-radius: 5px;
  padding: 0 12px 4px;
  color: #fff;
  text-transform: lowercase !important;
  padding-top: 18px;
  padding-bottom: 22px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

/* line 1, scss/main-theme/_global.scss */
body {
  color: #333;
  background-color: #EFEFEF;
}

/* line 6, scss/main-theme/_global.scss */
.content {
  background-color: #efefef;
}

/* line 11, scss/main-theme/_global.scss */
.wow-button__orange {
  color: #FFFFFF;
  background-color: #ff6633;
  border-color: #d9572b;
}

/* line 20, scss/main-theme/_modal.scss */
.wow-modal .wow-service__section__services-list--name {
  color: #000000;
}
/* line 23, scss/main-theme/_modal.scss */
.wow-modal .wow-service__section__services-list--description {
  color: #666666;
}

/* line 2, scss/main-theme/_createTaskContainer.scss */
.wow-container .wow-page {
  background-color: #fff;
  border-color: #ccc;
  box-shadow-color: rgba(0, 0, 0, 0.1);
}
/* line 22, scss/main-theme/_createTaskContainer.scss */
.wow-container .wow-page__additional-info--results .VAT .glyphicon {
  color: #FFC806;
}

/* line 1, scss/main-theme/_navbar.scss */
.wow-navbar {
  color: #FFFFFF;
  font-weight: bold;
}
/* line 6, scss/main-theme/_navbar.scss */
.wow-navbar__collapse--topitem {
  background: #333333;
}
/* line 10, scss/main-theme/_navbar.scss */
.wow-navbar__right {
  border-right-color: #444444;
  border-left: #222222;
}
/* line 15, scss/main-theme/_navbar.scss */
.wow-navbar__name--orgname {
  color: #ff6600;
}
/* line 19, scss/main-theme/_navbar.scss */
.wow-navbar__header {
  color: #FFFFFF;
}
