.b-alert {
    padding: 13px;
    &__description {
        cursor: pointer;
        &--expand {
            overflow: auto;
            height: auto;
            text-overflow: clip;
            word-wrap: break-word;
        }
        &--collapse {
            white-space: nowrap;
            overflow: hidden;
            height: auto;
            text-overflow: ellipsis;
        }
    }
    &__repeat {
        overflow-y: auto;
        height: 65vh;
    }
    @include transition(all, 0.2s, ease-in-out);
    &__header {
        padding: 8px;
        @include transition(all, 0.2s, ease-in-out);
        &--name {
            font-weight: bolder;
            text-transform: uppercase;
            float: left;
        }
        &--icon {
            text-align: center;
            float: none;
        }
        &--statustype {
            display: block;
            float: none;
            text-align: center;
        }
        &--close {
            float: right;
            a {
                cursor: pointer;
            }
        }
    }
    &__date {
        float: right;
    }
    &__button {
        line-height: 60px;
        position: fixed;
        z-index: 1200;
        width: 60px;
        right: 8px;
        bottom: 8px;
        text-align: center;
        cursor: pointer;
    }
}

// .b-alert:first-child {
//     border-top: 1px solid black;
// }
.b-inputalert {
    text-align: center;
    border: 1px solid black;
    &--info {
        background-color: rgba(10, 10, 200, 0.3);
    }
    &--warning {
        background-color: rgba(234, 255, 0, 0.3);
    }
    &--error {
        background-color: rgba(200, 10, 10, 0.3);
        line-height: 30px;
    }
}

.b-alertdetails {
    padding: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: auto;
    word-wrap: break-word;
    z-index: 1000;
    @include transition(all, 0.2s, ease-in-out);
    &__description {
        cursor: pointer;
        &--expand {
            overflow: auto;
            height: auto;
            text-overflow: clip;
            word-wrap: break-word;
        }
        &--collapse {
            white-space: nowrap;
            overflow: hidden;
            height: auto;
            text-overflow: ellipsis;
        }
    }
    &__readicon {
        font-size: medium;
        &--helper {
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 0px;
        }
    }
    &__readicon.glyphicon {
        top: 0px;
        margin: -4px;
        vertical-align: middle;
    }
    &__header {
        padding: 8px;
        @include transition(all, 0.2s, ease-in-out);
        &--name {
            font-weight: bolder;
            text-transform: uppercase;
            float: left;
        }
        &--date {
            font-weight: bolder;
            float: right;
        }
        &--icon {
            text-align: center;
            float: left;
            font-size: large;
        }
        &--status {
            display: block;
            float: none;
            text-align: center;
        }
        &--close {
            float: right;
            a {
                cursor: pointer;
            }
        }
    }
    &__repeatonepart {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-flex-flow: row nowrap;
        //height: 200px;
        &--body {
            //display: inline-block;
            flex-shrink: 1;
            // height: 50px;
            flex-grow: 1;
        }
        &--checkbox {
            flex-grow: 1;
            flex-shrink: 0;
            text-align: center;
            // margin-bottom: 0px;
            // margin-top: 0px;
            //display: inline-block;
            // width: 50px;
            // height: 50px;
            // height: 50px;
            //background-color: yellow;
            max-width: 35px;
            border: 1px solid black;
            border-radius: 7px;
            margin-right: 15px;
        }
        &--unread {}
        &--read {
            opacity: 0.5;
            transition: opacity .25s ease-in-out;
            filter: grayscale(30%) sepia(0%);
            -moz-transition: opacity .25s ease-in-out;
            -webkit-transition: opacity .25s ease-in-out;
        }
    }
    &__repeat {
        overflow-y: auto;
        height: 65vh;
        // 
    }
}
