.wow-container {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
    .wow-page {
        border: 1px solid;
        box-shadow: 0px 0px 5px;
        &__header {
            margin-bottom: 20px;
        }
        &__instructions {
            &--video {
                text-decoration: none;
                font-weight: bold;
                display: inline-block;
            }
        }
        &__base-info {
            padding: 0 40px;
        }
        .legal-entity {
            border-radius: 0;
            height: 40px;
        }
    }
    .wow-service-list {
        &__service {
            display: flex;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            flex-flow: column nowrap;
            -webkit-flex-flow: column wrap;
            justify-content: flex-start;
            align-items: stretch;
            align-content: stretch;
            &--name {}
            &--count {}
            &--duration {}
            &--comment-icon {}
            &--delete-icon {}
        }
        &__block {
            &--header {}
            &--name {}
        }
        &__manage-buttons {
            display: inline-block;
        }
        &__additional-info {
            display: block;
            width: 100%;
            &--header {}
            &--field {}
            &--results {
                margin-right: 0px;
                float: right;
                font-size: 18px;
                padding-bottom: 30px;
                text-align: right;
                .payment {}
                .duration {}
                .VAT {
                	margin-top: 10px;
                }
            }
            &--additional-payment {
            	text-align: center;
            }
        }
    }
}
