body {
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
}

.content {
    margin: 0 auto;
}

.wow-button {
    padding: 6px 25px;
    &__orange {
        font-weight: bold;
        border: 1px solid;
        border-bottom: 4px solid;
    }
    
    &__orange:active {
        box-shadow: none;
        position: relative;
        top: 2px;
    }
}
