.wow-modal {
    &__change-section {
        width: 350px;
        margin-left: 2920px;
        &--middle {
            margin: 0 auto;
        }
    }
    &__service-selection {
        margin-left: -1920px;
        &--middle {
            margin: 0 auto;
        }
    }
    .wow-service {
        &__selector {
            &--sections {
                display: flex;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                flex-flow: row nowrap;
                -webkit-flex-flow: row wrap;
                justify-content: center;
                align-items: flex-start;
                .section {
                    min-height: 194px;
                    flex-grow: 1;
                    flex-shrink: 0;
                    flex-basis: 100px;
                    &__it {}
                    &__mp {}
                    &__sc {}
                    &__ds {}
                    &__acandre {}
                    .cat-it {
                        word-wrap: break-word;
                    }
                }
            }
        }
        &__descriptor {}
        &__additional-info {}
        &__section {
            &--name {}
            &__services-list {
                text-align: left;
                &--name {}
                &--description {
                    color: #666;
                    font-size: 14px;
                }
            }
            &__category {}
        }
    }
}
