.wow-navbar {
    max-width: 1200px;
    &__collapse {
        &--topitem {}
    }
    &__right {
        border-right: 1px solid;
        border-left: 1px solid;
        margin-right: 0;
    }
    &__photo {
        &--minimized {}
    }
    &__useroanel {}
    &__photo {
        &--minimized {}
    }
    &__name {
        overflow: hidden;
        &--minimized {
            white-space: nowrap;
        }
        &--orgname {
            height: 22px;
        }
    }
    &__dropdown {
        &--usermenu {}
    }
    &__header {
        padding-top: 18px;
        padding-bottom: 22px;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        &--name {
            border: 2px solid;
            border-radius: 5px;
            padding: 0 12px 4px;
            text-transform: lowercase!important;

        }
    }
}
