@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}
@mixin translate($x-coord, $y-coord) {
  -ms-transform: translate($x-coord, $y-coord);
  -webkit-transform: translate($x-coord, $y-coord);
  transform: translate($x-coord, $y-coord);
}
// common
$black: #000000;
$white: #FFFFFF;

// 

@import "main-theme/_variables.scss";