<div class="container wow-container col-md-9 col-xs-12">
    <div class="wow-page">
        <div class="wow-page__base-info">
            <div class="pull-right">
                <a class="wow-page__instructions--video" href="#"><span class="glyphicon glyphicon-play-circle"></span> Видео-инструкция</a>
            </div>
            <h2 class="wow-page__header">Новое задание</h2>
            <div class="form-group">
                <label for="description">Название <span class="c999">(необязательно)</span></label>
                <input id="description" name="description" class="form-control" type="text" placeholder="Кратко опишите суть задания. Например, «Починить компьютеры в офисе»">
                <label for="catalog_address">Адрес выполнения работ</label>
                <div id='catalog_address' class="wow-page__address">
                    <a href="#" class="btn-link" data-toggle="modal">Новый адрес</a>
                    <a href="#" class="btn-link w__task-create-modal-addressbook-lnk">Адресная книга</a>
                </div>
            </div>
            <!-- Юридеческое лицо -->
            <div class="form-group">
                <label for="legal">Юридическое лицо</label>
                <select name="legal-en" class="form-control legal-entity">
                    <option value="1">wowworks - Москва</option>
                    <option value="2">develop.wowworks - Самара, ритейл компания, по восточному округу</option>
                    <option value="3">Самара, ритейл компания, по восточному округу - Департамент по информационным технологиям</option>
                    <option value="4">ИП Комаров - 1</option>
                    <option value="5">ООО "Воздухоплаватели" - Департамент по информационным технологиям</option>
                </select>
            </div>
        </div>
        <div class="wow-page__service-list">
	        <h3 class="">Список услуг</h3>
	        <p ng-hide="blokList.areWeHaveAddedService">Вы не добавили ни одной услуги</p>
	        <div class="wow-service-list">
	        	<div class="wow-service-list__block" ng-repeat="(blockKey, block) in blokList"ng-click="selectedBlock=blockKey">
	        		<div class="wow-service-list__block--header">
                        <input type="text" class="wow-service-list__block--name" ng-model="block._name">
                        <span class="wow-service-list__block--delete-icon glyphicon glyphicon-trash"></span>
                    </div>
	        		<div class="wow-service-list__service" ng-repeat="(serviceKey, service) in block.">
	        			<div class="wow-service-list__service--field wow-service-list__service--name">{{service.name}}<span class="glyphicon glyphicon-info-sign" ng-click="getModalDescription(service.getDescription())"></span></div>
                        <input type="number" min="1" max="999" class="wow-service-list__service--count" value="1" ng-model="service.count">
                        <div class="wow-service-list__service--field" ng-bind="service.cost"></div>
                        <div class="wow-service-list__service--field wow-service-list__service--duration" ng-bind="service.duration"></div>
                        <span class="wow-service-list__service--field wow-service-list__service--comment-icon glyphicon glyphicon-comment"></span>
                        <span class="wow-service-list__service--field wow-service-list__service--delete-icon glyphicon glyphicon-trash" ng-click="block.removeService(serviceKey)"></span>
	        		</div>
                    <div class="wow-service-list__block--summary">
                        <div class="wow-service-list__service--field wow-service-list__service--summary-name">Итого</div>
                        <div class="wow-service-list__service--field" ng-bind="block.getSummaryCost()"></div>
                        <div class="wow-service-list__service--field wow-service-list__service--duration" ng-bind="block.getSummaryDuration()"></div>
                    </div>
	        	</div>
	        </div>
	        <div class="wow-service-list__manage-buttons">
	        	<button class="btn wow-button__orange" >Добавить услугу</button>
	        	<button class="btn wow-button__orange" >Добавить блок</button>
	        	<button class="btn wow-button__orange" >Очистить список</button>
	        </div>
	        <div class="wow-service-list__additional-info" >
	        	<div class="wow-service-list__additional-info--header">Дополнительные возможности</div>
	        	<div class="wow-service-list__additional-info--field" ng-click="addNightIncrease()">
		        	<span class="input-group-addon">
				    	<input type="checkbox" id='nightIncrease' checked="{{nightIncreaseChecked}}">
				    </span>
	        		<span class="name">Ночные работы</span>
	        		<span class="short-description">Работы с 23:00 до 07:00 по местному времени</span>
	        		<span class="increase">+{{nightIncrease}}%</span>
	        	</div>
	        	<div class="wow-service-list__additional-info--field" ng-click="addUrgentIncrease()">
		        	<span class="input-group-addon">
				    	<input type="checkbox" id='urgentIncrease' checked="{{urgentIncreaseChecked}}">
			    	</span>
	        		<span class="name">Срочные работы</span>
	        		<span class="increase">+{{urgentIncrease}}%</span>
	        	</div>
	        	<div class="wow-service-list__additional-info--results">
	        		<div class="payment">Итого к оплате: <span class="summary__cost" ng-bind="blockList.getSummaryCost(nightIncrease, urgentIncreaseChecked)"></span></div>
	        		<div class="duration">Срок выполнения: <span class="summary__duration" ng-bind="blockList.getSummaryDuration(urgentIncrease, urgentIncreaseChecked)"></span></div>
	        		<div class="VAT"><span class"glyphicon glyphicon-warning-sign"></span> Цены указаны без НДС</div>
	        	</div>
	        	<div class="wow-service-list__additional-info--additional-payment" >На сервисе wowworks есть минимальная стоимость вызова специалиста. Если запрошенная услуга меньше минимальной стоимости, то добавляется доплата за выезд. Доплата за выезд исчезает, когда набор требуемых услуг в заявке больше минимальной стоимости вызова.</div>
        	</div>
        </div>
    </div>
</div>
