<div>
	<div class="wow-modal" ng-class="{'wow-modal__service-selection--middle':section.hadChoosenNew&&!section.hadChoosenAnother, 'wow-modal__service-selection':section.hadChoosenAnother&&!section.hadChoosenNew}">
	    <div class="modal-header">
	        <h3 class="modal-title">Выберите услугу</h3>
	    </div>
	    <div class="modal-body">
	        <div class="wow-service__selector">
	            <div class="wow-service__selector--sections">
	                <div ng-click="markAsSelected('it')" class="section" ng-class="{'section__it--selected':sections.selected == 'it', 'section__it':sections.selected != 'it'}"><span class="selcateg"><span class="cat-it" title="Информационные технологии"></span></span>
	                    <div class="wow-service__section--name">Информационные технологии</div>
	                </div>
	                <div ng-click="markAsSelected('mp')" class="section" ng-class="{'section__mp--selected':sections.selected == 'mp', 'section__mp':sections.selected != 'mp'}"><span class="selcateg"><span class="cat-it" title="Эксплуатация помещений"></span></span>
	                    <div class="wow-service__section--name">Эксплуатация помещений</div>
	                </div>
	                <div ng-click="markAsSelected('sc')" class="section" ng-class="{'section__sc--selected':sections.selected == 'sc', 'section__sc':sections.selected != 'sc'}"><span class="selcateg"><span class="cat-it" title="Коммерческий сервис"></span></span>
	                    <div class="wow-service__section--name">Коммерческий сервис</div>
	                </div>
	                <div ng-click="markAsSelected('ds')" class="section" ng-class="{'section__ds--selected':sections.selected == 'ds, 'section__ds':sections.selected != 'ds'}"><span class="selcateg"><span class="cat-it" title="Курьерские услуги"></span></span>
	                    <div class="wow-service__section--name">Курьерские услуги</div>
	                </div>
	                <div ng-click="markAsSelected('acandre')" class="section" ng-class="{'section__acandre--selected':sections.selected == 'acandre, 'section__acandre':sections.selected != 'acandre'}"><span class="selcateg"><span class="cat-it" title="Кондиционеры и холодильное оборудование"></span></span>
	                    <div class="wow-service__section--name">Кондиционеры и холодильное оборудование</div>
	                </div>
	            </div>
	            <div class="form-group wow-service__category" ng-show="sections.selected == 'mp'">
	                <label for="subcategory">Категория</label>
	                <select name="subcategory" id="subcategory" class="form-control" ng-model="sections.category">
	                    <option ng-repeat="(key, category) in sections.services" value="{{key}}">{{category.name}}</option>
	                </select>
	            </div>
	            <table class="wow-service__services-list">
	                <thead>
	                    <tr>
	                        <th>Услуга</th>
	                        <th width="130px">Цена, руб.</th>
	                        <th width="85px">Время выполнения, ч.</th>
	                        <th width="170px">&nbsp;</th>
	                    </tr>
	                </thead>
	                <tbody ng-show="sections.selected == 'mp'">
	                    <tr ng-repeat="(key, service) in sections.services[sections.category]">
	                        <th>
	                        	<span class="wow-service__services-list--name" ng-bind="service.getName()"></span>
	                        	<span class="wow-service__services-list--description" ng-bind="service.getDescription()"></span>
	                        </th>
	                        <th width="130px" ng-bind="service.getCost()"></th>
	                        <th width="85px" ng-bind="service.getDuration()"></th>
	                        <th width="170px">
	                            <button class="btn wow-button__orange" ng-click="selectService(service)">Добавить услугу</button>
	                        </th>
	                    </tr>
	                </tbody>
	                <tbody ng-hide="sections.selected == 'mp'">
	                    <tr ng-repeat="(key, service) in sections.services">
	                        <th></th>
	                        <th width="130px" ng-bind="service.getCost()"></th>
	                        <th width="85px" ng-bind="service.getDuration()"></th>
	                        <th width="170px">
	                            <button class="btn wow-button__orange" ng-click="selectService(service)">Добавить услугу</button>
	                        </th>
	                    </tr>
	                </tbody>
	            </table>
	        </div>
	    </div>
	    <div class="modal-footer">
	        <button class="btn  wow-button__orange" ng-click="close()">Закрыть окно</button>
	    </div>
	</div>
	<div class="wow-modal wow-modal__keeper" ng-class="{'wow-modal__change-section--middle':section.hadChoosenAnother&&!section.hadChoosenNew, 'wow-modal__change-section':section.hadChoosenNew&&!section.hadChoosenAnother}">
	    <div class="modal-header">
	        <h3 class="modal-title">Смена раздела</h3>
	    </div>
	    <div class="modal-body">
		    <p>Вы уже выбрали раздел, в рамках которого будет создано задание.<p>
			<p>Хотите очистить список услуг и выбрать другой раздел?</p>
	    </div>
	    <div class="modal-footer">
	        <button class="btn wow-button__orange" ng-click="changeSection()">Да изменить раздел</button>
	        <button class="btn btn-default" ng-click="cancel()">Отмена</button>
	    </div>
	</div>
</div>