<div class="wow-modal wow-modal__keeper">
    <div class="modal-header">
        <h3 class="modal-title">Смена раздела</h3>
    </div>
    <div class="modal-body">
	    <p>Вы уже выбрали раздел, в рамках которого будет создано задание.<p>
		<p>Хотите очистить список услуг и выбрать другой раздел?</p>
    </div>
    <div class="modal-footer">
        <button class="btn wow-button__orange" ng-click="ok()">Да изменить раздел</button>
        <button class="btn btn-default" ng-click="cancel()">Отмена</button>
    </div>
</div>
