<div class="navbar navbar-inverse navbar-static-top" role="navigation" ng-controller='NavbarController'>
    <div class="container-fluid wow-navbar">
        <div class="navbar-header">
            <a class="navbar-brand wow-navbar__header" title="" href="http://develop.wowworks.ru/admin/index.php"><span>wowdev</span></a>
        </div>
        <div ng-cloak>
            <ul class="nav navbar-nav">
                <li><a href="http://develop.wowworks.ru/task/lists/">Задания</a></li>
                <li class="btn-group" dropdown>
                    <div class="navbar-brand dropdown-toggle" dropdown-toggle>BOSS
                        <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat-start="choice in dropdownBoss" ng-hide="$first" class="dropdown-header" ng-bind="choice.header.text">
                        </li>
                        <li ng-repeat="elem in choice.elements" class="dropdown-header">
                            <a href="{{elem.href}}">
                                <div ng-bind="elem.text"></div>
                            </a>
                        </li>
                        <li ng-repeat-end class="divider" ng-show="$last" class="divider"></li>
                    </ul>
                </li>
            </ul>
            <div calss="nav navbar-right">
                <ul class="nav navbar-nav wow-navbar__right">
                    <li class="wow-navbar__bell">
                        <a href="http://develop.wowworks.ru/pm.php?id_sender=-1" class="" title="У вас {{countNotifications}} уведомлений">
                            <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li class="wow-navbar__mail">
                        <a href="http://develop.wowworks.ru/pm.php" class="" title="У вас {{countMessages}} сообщений">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li class="dropdown wow-navbar__userpanel">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <div class="caret wow-navbar__userpanel--caret"></div>
                            <div class="wow-navbar__photo--minimized"><img src="http://develop.wowworks.ru/img/company-nologo2.png" alt="" title="Developer" width="36"></div>
                            <div class="wow-navbar__name--minimized">Сергей Ямской</div>
                            <div class="wow-navbar__name--orgname">Umbrella inc</div>
                        </a>
                        <ul class="dropdown-menu wow-navbar__dropdown--usermenu">
                            <li ng-repeat="choice in userMenu">
                                <a href="{{choice.href}}">
                                    <div ng-bind="choice.text"></div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li><a class="menu-exit" href="http://develop.wowworks.ru/action.php?action=exit">Выход</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://develop.wowworks.ru/pc_org/task_create.php">Создать задание</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
