.wow-container {
    padding: 0 15px;
    // max-width: 1200px;
    margin: 0 auto;
    .wow-page {
        border: 1px solid;
        padding-bottom: 100px;
        &__catalog-address {
            margin-top: 20px;
        }
        &__brackets {
            font-weight: normal;
        }
        &__service-list {
            padding: 10px 40px 0;
        }
        &__header {
            margin-bottom: 20px;
            font-weight: bold;
        }
        &__instructions {
            &--video {
                text-decoration: none;
                font-weight: bold;
                display: inline-block;
            }
        }
        &__base-info {
            padding: 0 40px;
        }
        .legal-entity {
            border-radius: 0;
            height: 40px;
        }
    }
    .wow-service-list {
        &__manage-buttons {}
        &__service {
            display: flex;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            flex-flow: row nowrap;
            -webkit-flex-flow: row nowrap;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            align-items: stretch;
            align-content: stretch;
            width: 100%;
            text-align: center;
            padding: 6px 0;
            border-top: 1px solid;
            &--field {
                .glyphicon-rub {
                    font-size: 17px;
                    top: 0;
                    font-family: sans-serif;
                }
            }
            &--name {
                position: relative;
                flex-basis: 55%;
                text-align: left;
                padding-top: 2px;
                // min-width: 400px;
                .description-sign {
                    position: absolute;
                    margin-top: 5px;
                    margin-left: 5px;
                    opacity: 0.2;
                    cursor: pointer;
                    padding-top: 4px;
                }
            }
            &--cost {
                flex-basis: 15%;
                min-width: 100px;
            }
            &--count {
                flex-basis: 5%;
                //text-align: center;
            }
            &--duration {
                flex-basis: 15%;
                min-width: 100px;
            }
            &--comment-icon {
                float: right;
                margin-top: 5px;
                visibility: hidden;
                cursor: pointer;
                opacity: 0.5;
                flex-basis: 5%;
            }
            &--delete-icon {
                float: right;
                margin-top: 5px;
                visibility: hidden;
                cursor: pointer;
                opacity: 0.5;
                flex-basis: 5%;
            }
            &--summary-name {
                position: relative;
                flex-basis: 55%;
                text-align: left;
                padding-top: 2px;
            }
            &--summary-cost {
                flex-basis: 15%;
            }
            &--summary-duration {
                flex-basis: 15%;
            }
        }
        &__service:hover .wow-service-list__service--delete-icon {
            visibility: visible;
        }
        &__service:hover .wow-service-list__service--comment-icon {
            visibility: visible;
        }
        &__block {
            // display: flex;
            // display: -webkit-box;
            // display: -moz-box;
            // display: -ms-flexbox;
            // display: -webkit-flex;
            // flex-flow: column nowrap;
            // -webkit-flex-flow: column nowrap;
            // justify-content: flex-start;
            // align-items: stretch;
            // align-content: stretch;
            &--drop-zone {
                min-height: 25px;
            }
            &--selected {
                border: 1px solid;
                border-radius: 5px;
            }
            &--header {
                margin: 20px 0;
            }
            &--header:hover .wow-service-list__block--name {
                // border: 2px inset;
                // border-image-source: initial;
                // border-image-slice: initial;
                // border-image-width: initial;
                // border-image-outset: initial;
                // border-image-repeat: initial;
            }
            &--name {
                font-weight: bold;
                text-align: left;
                display: inline-block;
                background-color: transparent;
                box-shadow: none;
                border: none;
                width: 90%;
            }
            &--delete-icon {
                float: right;
                margin-top: 5px;
                visibility: hidden;
                cursor: pointer;
                opacity: 0.5;
            }
            &--delete-icon:hover {
                opacity: 1;
            }
            &--summary {
                display: flex;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                flex-flow: row nowrap;
                -webkit-flex-flow: row nowrap;
                justify-content: space-between;
                -webkit-justify-content: space-between;
                align-items: stretch;
                align-content: stretch;
                width: 100%;
                text-align: center;
                padding: 6px 0;
                border-top: 1px solid;
            }
        }
        &__block:hover .wow-service-list__block--delete-icon {
            visibility: visible;
        }
        &__manage-buttons {
            display: inline-block;
            margin: 15px 0px;
        }
        &__additional-info {
            //display: block;
            margin-bottom: 20px;
            width: 100%;
            &--header {
                color: #999;
                font-size: 15px;
                padding-bottom: 10px;
                padding-top: 10px;
            }
            &--row {
                display: flex;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                flex-flow: row nowrap;
                -webkit-flex-flow: row nowrap;
                justify-content: space-between;
                -webkit-justify-content: space-between;
                align-items: center;
                align-content: stretch;
                width: 100%;
                border-top: 1px solid;
                padding: 5px 0;
                .description {
                    flex-basis: 88%;
                    .name {
                        font-style: normal;
                        font-variant: normal;
                        font-weight: normal;
                    }
                    .short-description {
                        margin-top: -5px;
                        font-size: 15px;
                        font-style: italic;
                    }
                }
                .checkbox:disabled {
                    flex-basis: 2%;
                    cursor: pointer;
                }
                .increase {
                    flex-basis: 10%;
                    text-align: right;
                }
            }
            &--results {
                margin-right: 0px;
                float: right;
                font-size: 18px;
                padding-bottom: 30px;
                text-align: right;
                margin-top: 20px;
                .cost {
                    .summary__cost {                        
                        font-weight: bold;
                        font-weight: 700;
                        .glyphicon-rub {
                            font-size: 17px;
                            top: 0;
                            font-family: sans-serif;
                        }
                    }
                }
                .duration {
                    margin-bottom: 10px;
                    .summary__duration {
                        font-weight: bold;
                        font-weight: 700;
                    }
                }
                .VAT {
                    margin-top: 10px;
                    padding-left: 25px;
                    font-style: italic;
                    font-size: 15px;
                    display: inline;
                }
            }
            &--additional-payment {
                text-align: center;
            }
        }
    }
}


/***************************** Required styles *****************************/


/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */

.wow-service-list__block div[dnd-list],
.wow-service-list__block div[dnd-list] > li {
    position: relative;
}


/***************************** Dropzone Styling *****************************/


/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */

.wow-service-list__block .dropzone div[dnd-list] {
    min-height: 42px;
    margin: 0px;
    padding-left: 0px;
}


/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */

.wow-service-list__block .dropzone li {
    display: block;
}


/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */

.wow-service-list__block .dropzone .dndDragging {
    opacity: 0.7;
}


/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */

.wow-service-list__block .dropzone .dndDraggingSource {
    display: none;
}


/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */

.wow-service-list__block .dropzone .dndPlaceholder {
    background-color: #ddd !important;
    min-height: 42px;
    display: block;
    position: relative;
}


/***************************** Element type specific styles *****************************/

.advancedDemo .dropzone .itemlist {
    min-height: 60px !important;
}

.advancedDemo .dropzone .itemlist > li {
    border: none;
    border-radius: .25em;
    color: #fff;
    float: left;
    font-weight: 700;
    height: 50px;
    margin: 5px;
    padding: 3px;
    text-align: left;
    width: 100%;
}

.advancedDemo .dropzone .container-element {
    margin: 10px;
}
