.modal-footer {
    text-align: left;
}
.wow-modal {
    padding: 15px;
    &__change-section {
        width: 350px;
        &--middle {
            margin: 0 auto;
        }
        &--off-screen {
            margin-left: 2920px;
        }
    }
    &__service-selection {
        &--middle {
            margin: 0 auto;
        }
        &--off-screen {
            margin-left: -1920px;
        }
    }
    .wow-service {
        &__selector {
            font-size: 15px;
            padding: 20px 50px 10px;
            &--header {
                font-size: 30px;
                margin-bottom: 20px;
                font-weight: bold;
            }
            &--sections {
                display: flex;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                flex-flow: row nowrap;
                -webkit-flex-flow: row nowrap;
                justify-content: space-between;
                align-items: flex-start;
                //padding: 0px 35px;
                .section {
                    min-height: 194px;
                    flex-grow: 1;
                    flex-shrink: 0;
                    flex-basis: 100px;
                    cursor: pointer;
                    max-width: 120px;
                    margin: 0 auto;
                    &__selected:after {
                        display: block;
                        width: 30px;
                        height: 30px;
                        content: ' ';
                        border-radius: 15px;
                        border: 3px solid;
                        position: relative;
                        margin-top: -126px;
                        float: right;
                        right: -7px;
                    }
                    &__selected {
                        border: 2px solid;
                    }
                    &__name {
                        text-align: center;
                        width: 120px;
                        padding-top: 10px;
                        margin: 0 auto;
                    }
                    &__picture-field {
                        background-repeat: no-repeat;
                        background-position: center center;
                        font-size: 17px;
                        display: block;
                        text-align: center;
                        margin: 0 auto;
                        width: 120px;
                        height: 120px;
                        border-radius: 10px;
                        border: 2px solid;
                        &--picture {
                            width: 116px;
                            height: 116px;
                            display: block;
                            background-repeat: no-repeat;
                            background-position: center center;
                        }
                    }
                    &__it {}
                    &__mp {
                        // width: 116px;
                        // height: 116px;
                        // display: block;
                        // background-repeat: no-repeat;
                        // background-position: center center;
                    }
                    &__sc {
                        // width: 116px;
                        // height: 116px;
                        // display: block;
                        // background-repeat: no-repeat;
                        // background-position: center center;
                    }
                    &__ds {
                        // width: 116px;
                        // height: 116px;
                        // display: block;
                        // background-repeat: no-repeat;
                        // background-position: center center;
                    }
                    &__acandre {
                        // width: 116px;
                        // height: 116px;
                        // display: block;
                        // background-repeat: no-repeat;
                        // background-position: center center;
                    }
                    // .cat-it {
                    //     word-wrap: break-word;
                    // }
                }
            }
        }
        &__descriptor {}
        &__additional-info {}
        &__services-list {
            padding: 20px 50px 10px;
            &--name {
                font-style: normal;
                font-variant: normal;
                font-weight: normal;
                white-space: normal;
                font-size: 17px;
                text-align: left;
                display: block;
            }
            &--description {
                font-size: 14px;
                text-align: left;
                display: block;
            }
            &--table {
                border-bottom: none;
                font-size: 15px;
                font-weight: normal;
                font-style: normal;
                font-variant: normal;
                text-align: center;
                padding-bottom: 10px;
                padding-top: 10px;
                .table {
                    &__header {
                        &--row {
                            border-bottom: none;
                            font-size: 15px;
                            font-weight: normal;
                            text-align: center;
                            padding: 10px 5px;
                            th {
                                font-weight: normal;
                                text-align: center;
                            }
                            th:first-child {                                
                                text-align: left;
                            }
                        }
                        &--col-name {
                            text-align: left;
                            font-size: 17px;
                            // width: 100%;
                        }
                        &--col-cost {
                            width: 130px;
                            font-size: 17px;
                        }
                        &--col-dur {
                            width: 85px;
                            font-size: 17px;
                        }
                        &--col-butt {
                            width: 170px;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}
