.wow-navbar {
    max-width: 1200px;
    .dropdown-menu {
        margin-top: 11px !important;
    }
    
    &__right {
        border-right: 1px solid;
        border-left: 1px solid;
        margin-right: 0;
    }
    &__userpanel {
        cursor: pointer;
        &--info {
            // float:left;
            display: inline-block;
            width: 260px;
        }
        &--caret {
            display: inline-block;
            float: right;
            margin-top: 16px;
        }
    }
    &__photo {
        display: inline-block;
        float: left;
        &--minimized {}
    }
    &__bell {
        display: block;
        position: relative;
        padding: 5px 0px;
    }
    &__mail {
        display: block;
        position: relative;
        padding: 5px 0px;
    }
    &__name {
        // overflow: hidden;
        display: inline-block;
        margin-left: 10px;
        &--minimized {
            white-space: nowrap;
        }
        &--orgname {
            height: 22px;
        }
    }
    &__dropdown {
        &--usermenu {
            width: 285px;
        }
    }
    &__header {
        padding-top: 18px;
        padding-bottom: 22px;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        &--name {
            border: 2px solid;
            border-radius: 5px;
            padding: 2px 12px 6px;
            text-transform: lowercase!important;
        }
        &--top-menu {
            position: relative;
            padding-top: 20px!important;
            padding-bottom: 20px!important;
            display: block;
            padding: 10px 15px;
            cursor: pointer;
        }
    }
}
