.b-alert {
    background-color: $white;
    border-bottom: 1px solid $light-scale-division;
    &:last-child {
        border-bottom: none; // deviation from the pattern of the partition for styles
    }
    &:hover {
        background-color: $light-gantt-hover-bg;
        .b-alert__header {
            border-bottom: none; // deviation from the pattern of the partition for styles
        }
    }
    &__close {
        a {
            color: $light-scale-division;
        }
    }
    &__header {
        border-bottom: none;
        &--danger {
            color: #C60000;
        }
        &--info {
            color: #07ACFF;
        }
        &--warning {
            color: #FED056;
        }
    }
    &__button {
        background-color: $button-default-hover;
        color: $light-black;
    }
}

.eventspanel {
    background-color: $base-blue-color;
    border: 3px solid $white;
    border-radius: 5px;
}
