.wow-container {
	.wow-page {
        background-color: #fff;
        border-color: #ccc;
        box-shadow-color:rgba(0, 0, 0, 0.1);
        &__header {}
        &__additional-info {
        	&--header {

        	}
        	&--field {

        	}
        	&--results {
        		.payment {

        		}
        		.duration {

        		}
        		.VAT {
        			.glyphicon {
        				color: $warning;
        			}
        		}
        	}
        }
    }
}
