.wow-modal {
    .wow-service {
        &__selector {
            &--sections {
                .section {
                    &__it {}
                    &__mp {}
                    &__sc {}
                    &__ds {}
                    &__acandre {}
                    .cat-it {}
                }
            }
        }
        &__descriptor {}
        &__additional-info {}
        &__section {
            &--name {}
            &__services-list {
                &--name {
                    color: $service-list-name;
                }
                &--description {
                    color: $service-list-description;
                }
            }
            &__category {}
        }
    }
}
