@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}
@mixin translate($x-coord, $y-coord) {
  -ms-transform: translate($x-coord, $y-coord);
  -webkit-transform: translate($x-coord, $y-coord);
  transform: translate($x-coord, $y-coord);
}
// navbar
$navbar__border: $black;
$navbar__border__right: #444444;
$navbar__border__left: #222222;

$navbar_topitem_bcg: #333333;
$navbar_orgname: #ff6600;

$content_bcg: #efefef;

$button_orange_border: #d9572b;
$button_orange_bcg: #ff6633;

$warning: #FFC806;

$service-list-name: $black;
$service-list-description: #666666;

// 